:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.main-body {
  margin: auto;
  top: 0px;
  align-self: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 25px;
  border-style: solid;
  border-color: #213547;
  background: white;
  width: 50%;
  z-index: 1;
}
