#root {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
}

body {
    margin: 0px;
    padding: 0px;
    background: #e7eff6;
}

.headshot-text {
    color: #213547;
    text-align: center;
    font-size: 5em;
    margin-bottom: 10px;
}

.headshot-descriptor {
    text-align: center;
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    color:  #4b86b4;
}

.headshot {
    display: block;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}