#root {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
}

body {
    margin: 0px;
    padding: 0px;
    background: #e7eff6;
}

.nav-bar {
    position: fixed;
    width: 100%;
    top: 0;
    top: 0;
    left: 0;
    z-index: 0;
    background: #2a4d69;
    color: white;
    font-size: 10pt;
    margin: 0;
}

.nav-bar-tab {
    font-size: 25pt;   
}

.main-content {
    margin: auto;
    top: 0px;
    align-self: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 25px;
    border-style: solid;
    background: white;
    width: 50%;
    z-index: 1;
}

.headshot-text {
    text-align: center;
    font-size: 65pt;
    margin-bottom: 10px;
}

.headshot-descriptor {
    text-align: center;
    font-size: 25px;
    padding-top: 5px;
    color:  #4b86b4;
}

.headshot {
    padding-block: 10em;
    display: block;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}