#root {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
}

body {
    margin: 0px;
    padding: 0px;
    background: #9BA4B5;
}

.headshot-text {
    color: #F1F6F9;
    text-align: center;
    font-size: 4vw;
    margin-bottom: 10px;
    margin-top: 35px;
}

.headshot-descriptor {
    text-align: center;
    font-size: 2vw;
    margin-top: 5px;
    margin-bottom: 5px;
    color:  #9BA4B4;
}

.headshot {
    display: block;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}